 ul {
   color: black;
list-style: inside;
font: 1.2em ;
 }

 li {
font-size: 1em;
 }
 .link-hover {
   font-size: 120%; 
 }
 .link-hover :hover {

  color: rgb(247, 19, 209);
}

 
.header-section {
  position: relative;
  width: 1000px;
  height: 200px;
  margin: 0% auto;
  background-color: #f3f3f3;
  background-image: url();
  background-position: 20% 50%;
  background-repeat: no-repeat;
  }

  .text-header {
  position: relative;
  width: 600px;
  height: 150px;
  left: 300px;
  top: 20px;
  font-weight: 900;
  font-size: 1.5rem;
  color: #000000;
}

.main-section {
  position: relative;
  width: 1000px;
  height: 600px;
  margin: 0px auto;
  padding: 0px;
  background-color: #e73131;
}

.left-section {
  position: relative;
  width: 180px;
  height: 600px;
  margin-left: 0px;
  background-color: #51e2f5;
  padding: 10px;
  }

.central-section {
  position: relative;
  width: 750px;
  height: 600px;
  margin-top:0px;
  margin-left: 200px;
  background-color: #cce8faa9;
  }

.central-section {
    padding-left: 30px;
     color:black
}

.image-CV {
  position:absolute;
  margin-top: 0%;
  margin-left: 0px;
}

.footer-section {
  position: relative;
  width: 1000px;
  height: 50px;
  margin: 0% auto;
  background-color: #c1f3bd36;
  background-image: url();
  background-position: 20% 50%;
  background-repeat: no-repeat;
}

.text-footer {
  position: relative;
  width: 400px;
  left: 60%;
  top: 20%;
  font-weight: 300;
  font-size: 0.8rem;
}

.image-github {
  position:absolute;
  margin-top: 1%;
  margin-left: 10%;
}

.image-rsschool {
  position:absolute;
  margin-top: 1%;
  margin-left: 45%;
}