
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-size: 100%;
}

ul {
color: #043453;
list-style: inside;
font: 1.2rem ;
 }

 li {
font-size: 1.1rem;
padding-bottom: 10px;
transition: all 1s;
 }
 .link-hover {
   font-size: 120%;
   font-weight: 600;
   
 }
 .link-hover :hover {
  color: rgba(247, 19, 144, 0.5);
}

 h1 {
   font-size: 2em;   
  }

  h2 {
    font-size: 1.6em;
    padding: 10px 0;
  }

  p {
  font-size: 1.1rem;
  margin-top: 15px; 
  }
  /*--------------------------------------------------------*/
 
.header-section {
  position: relative;
  max-width: 1000px;
  height: 200px;
  margin: 0 auto 0 auto;
  background-color: #f3f3f3;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  }

  .text-header {
  position: relative;
  max-width: 600px;
  height: 200px;
  margin: 40px auto auto 100px;
  font-weight: 900;
  font-size: 1.5rem;
  color: #10212c;
  overflow: hidden;
}

.image-CV {
  position:relative;
 }
/*---------------------------------------------------------*/
.main-section {
  position: relative;
  max-width: 1000px;
  height: 600px;
  margin: 0px auto;
  padding: 0px;
  background-color: #cce8faa9;
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
  
 }

.left-section {
  position: relative;
  width: 200px;
  height: 600px;
  margin: 0;
  background-color: #51e2f5;
  padding: 20px 10px 0 20px;
  }

  .left-section {
  color: #043453;
  }

.central-section {
  position: relative;
  /* max-width: 800px; */
  min-height: 600px;
  /* margin:0 0 0 200px; */
  padding: 20px 10px 20px 30px;
  }

.text-central-section {
  position: relative;
  /* max-width: 800px; */
  font-size: 1.0em;
  line-height: 1.0;
  font-weight: 900;
  color: #043453;
} 

.footer-section {
  position: relative;
  top:0px;
  max-width: 1000px;
  height: 60px;
  margin: 0 auto;
  padding: 10px;
  background-color: #c1f3bd36;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.text-footer {
  position: relative;
  max-width: 400px;
  font-weight: 400;
  font-size: 1.2rem;
}

.image-github {
  position:relative;
  transition: all 0.8s;
}

.image-github:hover {
  filter: drop-shadow(0px 6px 5px rgb(99, 204, 190));
  /* width: 45px;
  height: 45px; */
}

.image-rsschool {
  position:relative;
  transition: all 0.8s;
}
 .image-rsschool:hover {
  filter: drop-shadow(0px 6px 5px rgb(99, 204, 190));   
 }