.garage-container {
    position: relative;
    width: 100%;
    font-size: 2.5vh;
    color: ghostwhite;
}

.warning {
    position: absolute;
    width: 80vw;
    /* height: 30vh; */
    top: 25%;
    margin: 0 10vw;    
    background: rgba(22, 41, 41, 0.6);
    border-radius: 15px;
  backdrop-filter: blur(2px);
  font-size: 10vh;
  font-weight: 800;
  color: white;
  text-align: center;
  z-index: 1;
  transition: all 1.2s;
}

.next-page-button,
.prev-page-button {
    opacity: 0.3;
    background-color: cadetblue;
    color: white;
    font-size: 1rem;
}

.car-item-container {
    display: block;
}

.car-item-pagination {
    display: flex;
    height: 4vh;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
}

.car-trademark {
    margin-right: 10px;
    font-size: 3vh;
}

.car-item {
    position: absolute;
    width: 10%;
    height: 5vh;
    background-color: transparent;
}

.car-item svg {
    width: 100%;
    height: 100%;
}

.car-img:hover {   
     stroke-width: 200;
}

.item-race-container {
    position: relative;
    width: 100%;
    min-height: 5vh;
    margin: 10px 0px;
    border-bottom: solid 2px yellowgreen;
}

.final-lap-flag {
    position: absolute;
    width: 5vh;
    height: 5vh;
    right: 15%;
    background-color: transparent ;
    background-image: url(./assets/svg/Checkered-Racing-Flags.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.start-car {
    background-color: rgba(13, 209, 56, 0.877);
    color: rgb(254, 255, 204);
}

.stop-car {
    background-color: orangered;
    color: white;
    opacity: 0.3;
}

.select-car {
    background-color: rgb(126, 66, 126);
    color: white;
}

.remove-car {
    background-color: rgba(231, 81, 12, 0.795);
}