.projects-container {
    position: relative;
}

.carousel {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: minmax(150px, 1fr) 0 0 0;
    /* overflow: hidden; */
    gap: 2%;
    background-image: url();
}

.project {
    
    background-size: cover;
    font-size: 1.8rem;
    border-radius: 5px;
    padding: 2px;
}

.projects-pagination {
    margin-top: 10px;
}

.project a,
.projects-pagination a {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    background-size: contain;
}

.projects-pagination a {
    width: 1.8rem;
    height: 1.8rem;
    margin: 10px;
    border-radius: 20%;
    box-shadow: 4px 4px 6px rgb(37 37 38 / 55%);
    transition: all 0.8s;
    cursor: pointer;
}

.projects-pagination a:hover {
    transform: scale(1.5);
    box-shadow: 2px 2px 4px rgb(37 37 38 / 55%);
    border: solid 2px  rgb(4, 41, 253);
}

.active {
    transform: scale(1.5);
    border: solid 2px  rgb(7, 253, 253);
}

.selected {
    transform: scale(1.1);
    border: solid 3px  rgb(4, 162, 253);
}

.project a {
    width: 100%;
    height: 100%;
    /* max-width:40vw;
    max-height: 40vw; */
    text-align: center;    
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(28, 28, 77, 0.76);
    text-shadow: 2px 2px rgba(86, 229, 248, 0.829);
    color: rgba(20, 129, 215, 82%);
    background-repeat: no-repeat;
    background-size: cover;
}

/*  */

.carusel-button {
    position: absolute;
    height: 100%;
    width: 10%;
    min-width: 50px;
    top: 0;
    background-color: rgba(36, 58, 131, 0.295);
    backdrop-filter: blur(0px);
    border: inherit;
    font-size: 6vh;
    color: rgba(82, 33, 82, 0.726);
    text-shadow: 3px 2px rgba(220, 246, 250, 0.829);
    transition: all 0.3s;
    z-index: 3;
}

.carusel-button:hover {
    background-color: transparent;
    backdrop-filter: blur(2px);
    border: 2px solid rgba(20, 129, 215, 82%);
    ;
}

.carusel-button:active {
    background-color: rgba(106, 175, 240, 0.356);
    color: rgba(6, 142, 247, 0.801);
}

.previous {
    left: 0;
}

.carousel:nth-child(2):hover > .carousel:nth-child(3) {
    left: 100px;
    z-index: 50;
}

.next {
    right: 0;
}

#projects-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}