html {
  background-color: rgb(232, 241, 241);
  scroll-behavior: smooth;
  min-width: 320px;
}

/* @media only screen and (min-width: 550px) { 
    
} */







/*-----------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 100%; */
  transition: all 0.8s;
}

body {
  position: relative;
}

ul {
  color: #043453;
  list-style: inside;
  font: 1.2rem;
}

a {
  text-decoration: none;
  color: rgb(32, 13, 104);
}

a:hover,
.link-hover :hover {
  color: #FFFFFF;  
}

a:active {
  /* background: rgb(43, 12, 12); */
  color: rgba(255, 255, 255, 0.726);
}

ul ul {
  margin-left: 30px;
  font-weight: 300;
}

li {
  margin: 10px 0px;
  transition: all 1s;
}

.link-hover {
  font-weight: 600;
}
.link-hover span {
  margin-left: 10px;
  font-size: 0.8rem;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
  padding: 10px;
}

p {
  margin: 10px auto;
  font-size: 1.0rem;
}

/*------------------------------HEADER--------------------------*/
header {
  position: relative;
  min-height: 200px;
}

.header-section {
  position: relative;
  max-width: 1000px;
  min-height: 200px;
  margin: 0 auto 0 auto;
  background-color: #f3f3f3;
  background-repeat: no-repeat;
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: nowrap;
  align-items: center;
  box-sizing: border-box;
}

.text-header {
  height: 100%;
  margin: 0 auto;
  padding: 0px 0 0 10px;
  font-weight: 900;
  font-size: 1.5rem;
  color: #102c3f;
  overflow: hidden;
}

.image-cv {
  position: relative;
  border-radius: 50%;
}



/*-------------------HEADER NAV----------------------------------*/
.header-nav {
  display: none;
  position: relative;
  max-width: 1000px;
  min-height: 50px;
  margin: 0px auto 0 auto;
  padding: 0px;
  border: 0px;
  background-color: rgb(116, 137, 145);

}

.header-nav ul {
  position: relative;
  max-width: 1000px;
  min-height: 50px;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  transition: 0s;
  overflow: hidden;
}

.menu-span {
  position: absolute;
  margin: 10px;
  height: 50px;
  width: 35px;
  box-sizing: border-box;
  opacity: 0; 
  transition: all 0.8s;
}

.menu-span span {
  position: relative;
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background: #22285c;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: all 0s;
}

.menu-span span:first-child {
  transform-origin: 0% 0%;
}

.menu-span span:nth-last-child(2) {
  transform-origin: 0% 100%;
}


.menu-span span {
  opacity: 1;
  transform: rotate(45deg) translate(-10px, -10px);
 
}


.menu-span span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-span span:nth-last-child(2) {
  transform: rotate(-45deg) translate(-10px, 10px);
}

#input:checked~.menu-span span {
  transform: none;
}

#input:checked~.menu-span span:nth-last-child(3) {
  opacity: 1;
}

#input {
  position: absolute;
  display: block;
  width: 55px;
  height: 100%;
  top: 5px;
  left: 1px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over */
  -webkit-touch-callout: none;
}

label {
  position: absolute;
  top: -5px;
  height: 100%;
  width: auto;
  font-size: 1.2rem;
  color: #22285c;
 cursor: pointer;
}

.lable-toggle {
  visibility: hidden;
}


/*------------------------------MAIN---------------------------*/
.main-section {
  position: relative;
  max-width: 1000px;
  margin: 0px auto;
  padding: 0px;
  background-color: #cce8faa9;
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.left-section {
  position: relative;
  padding: 0px 10px 0 10px;
  font-size: 1.2rem;
  color: #043453;
  background-color: #51e2f5;
}

.central-section {
  position: relative;
  min-height: 625px;
  margin: 0px;
  box-sizing: border-box;
}

.text-central-section {
  position: relative;
  width: 100%;
  padding: 10px;
  font-size: 1.1rem;
  line-height: 100%;
  font-weight: 900;
  color: #043453;
}

footer {
  position: sticky;
  bottom: 0px;
  width: 100%;
  z-index: 3;
}

.footer-section {
  position: relative;
  top: 0px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 5px;
  background-color: #bdf1f3;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.text-footer {
  max-width: 400px;
  font-weight: 400;
  font-size: 2vh;
}

.image-github {
  position: relative;
  height: 3vh;
  width: 3vh;
  transition: all 0.8s;
}

.image-github:hover {
  filter: drop-shadow(0px 6px 5px rgb(99, 204, 190));
  /* width: 45px;
  height: 45px; */
}

.icon-rsschool {
  position: relative;
  transition: all 0.8s;
}

.icon-rsschool:hover {
  filter: drop-shadow(0px 6px 5px rgb(99, 204, 190));
}

.link {
  cursor: pointer;
}

@media only screen and (max-width: 550px) {

  .header-nav {
    display: block;
  }

  #input:checked~#menu {
    height: 0px;
    opacity: 0;
  }

  .lable-toggle {
    visibility: visible;
  }

 

  .header-nav ul {
    width: 100%;
    position: relative;
    flex-direction: column;
  }

  .menu-span {
    
    width: 100%;
    opacity: 1;
  }

  
  .image-CV {
    position: relative;
    height: auto;
    width: 100%;
  }

  .left-section {
    height: auto;
    width: 100%;
    font: 1.3rem
  }

  h1 {
    font-size: 1.6em;
  }

  .header-section {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .main-section {
    flex-direction: column;
  }

  .left-section {
    height: auto;
    width: 100%;
  }

  .central-section {
    padding: 5px;
    font-size: 0.8em;
  }
}

